body {
    background-color:#eeeeee;
}

.head {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    background-color:rgb(41, 41, 41);
}

.menu {
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

.menuitem{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color:#2cbcff;
    float:left;
    padding-left:1%;
    padding-right:1%;
    margin-top:2%;
}

.menuitem:hover{
    background-color:rgb(132, 132, 158);
}